#images-index{
    position: relative;
    height: 100%;
}

#principal{
    display: none;
}

.image{
    width: 100%;
    height: 100%;
}

.casa-4{
    display: none;
}

.deshabilitado{
    width: 80%;
    margin: auto;
    z-index: 50000;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(244, 248, 243, 0.7);
    border: 3px outset #ff1b00;
    padding: 20px;
    text-align: center;
}

.deshabilitado p{
    font-size: 1.2em;
}

.deshabilitado img{
    width: 45%;
}


.entrar_desktop {
    display: none;
}

.entrar {
    width: 33%;
    text-align: center;
    height: 8%;
    border-radius: 25px;
    border: 3px inset;
    top: 45%;
    left: 33%;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    overflow: hidden;
    background: #d11e1d;
    color: white;
    transition-property: color;
    transition-duration: 0.3s;
    line-height: 250%;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}

.entrar:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/fondo_boton_entrar.png");
    border-radius: 25%;
    border: 3px outset;
    color: #000;
    transform: scale(2);
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.entrar:hover, .entrar:focus, .entrar:active {
    color: #000;
    text-decoration: none;

}

.entrar:hover:before, .entrar:focus:before, .entrar:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.error_js{
    font-size: 1.3em;
    width: 95%;
    margin: auto;
    text-align: center;
}

.imagen_principal {
    width: 100%;
    background-image: url("../images/fondo_principal_s.png");
    background-repeat: no-repeat;
}

.pajaro {
    position: absolute;
    width: 30px;
    height: 27px;
    float: right;
    right: -30px;
    background: url(../images/pajaro.gif);
    -moz-animation: pajaro1 17s infinite linear;
    -webkit-animation: pajaro1 17s infinite linear;
    animation: pajaro1 17s infinite linear;
}

@-moz-keyframes pajaro1 {
    0% {
        right: -7px;
        top: 24%;
        -webkit-transform: scale(0.6);
    }
    100% {
        right: 115%;
        top: 21%;
        -webkit-transform: scale(0.9);
    }
}

@-webkit-keyframes pajaro1 {
    0% {
        right: -7px;
        top: 24%;
        -webkit-transform: scale(0.6);
    }
    100% {
        right: 115%;
        top: 21%;
        -webkit-transform: scale(0.9);
    }
}

.pajaro2 {
    -webkit-animation: pajaro2 20s infinite linear;
    -moz-animation: pajaro2 20s infinite linear;
    animation: pajaro2 20s infinite linear;
}

@-webkit-keyframes pajaro2 {
    0% {
        right: -20px;
        top: 18%;
        -webkit-transform: scale(0.5);
    }
    100% {
        right: 105%;
        top: 20%;
        -webkit-transform: scale(0.8);
    }
}

@-moz-keyframes pajaro2 {
    0% {
        right: -20px;
        top: 18%;
        -webkit-transform: scale(0.5);
    }
    100% {
        right: 105%;
        top: 20%;
        -webkit-transform: scale(0.8);
    }
}

#pantalla_principal {
    width: 100%;
}

#principal {
    width: 100%;
}

#principal p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: bold;
}

h1#titulo_pagina_principal {
    width: 70%;
    margin: auto;
    font-family: 'Bangers', cursive;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-weight: bold;
    font-size: 2.4em;
}

.ui-widget-header {
    border: 1px solid #d4ccb0;
    background-image: none;
    color: #433f38;
    font-weight: bold;
}

.ui-state-hover, .ui-state-active, .ui-state-active{
    background-color: #6cbd5e;
}

#dialog-confirm{
    display: none;
    font-size: .8em;
    padding: .2em;
}

.ui-dialog .ui-dialog-buttonpane{
    padding: 0;
}

.ui-dialog{
    top: 55% !important;
    font-size: 1.2em !important;
    position: absolute;
    width: 90%;
    margin: auto;
    border: 3px outset #67B021;
    padding: 0;
    left: 4% !important;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-helper-clearfix, .ui-dialog-buttonset{
    border-radius: 0;
    padding: 8px;
    background-color: #67B021;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    font-size: .8em !important;
    background-color: #ebebeb !important;
    color: #0b1123 !important;
    border: 1px outset #433F38;
    margin-right: 10px;
    width: 25%;
}


.ui-button:active{
    background-color: #c0c0c0 !important;
    color: #1e2568 !important;
    border: 2px inset;
}

.ui-dialog .ui-dialog-buttonpane{
    padding: 0;
}

.ui-button{
    font-size: .8em !important;
    background-color: #ebebeb !important;
    color: #0b1123 !important;
    border: 2px outset #433F38;
}

.ui-button:active{
    background-color: #c0c0c0 !important;
    color: #1e2568 !important;
    border: 2px inset;
}



@media screen and (min-width: 410px){

    .imagen_principal {
        width: 100%;
        background: url("../images/fondo_principal.png") fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media screen and (min-width: 683px){

    body{
        font-family: 'Raleway';
    }

    .casa-1{
        top: 0;
    }

    .casa-4{
        right: 0;
        bottom: 0;
        display: inline-block;
    }

    .casa-3{
        left: 0;
        bottom: 0;
    }

    .casa-2{
        right: 0;
    }

    .deshabilitado{
        width: 60%;
        margin: auto;
        z-index: 50000;
        position: absolute;
        top: 10%;
        left: 20%;
        background-color: rgba(244, 248, 243, 0.7);
        border: 5px outset #ff1b00;
        padding: 20px;
        text-align: center;
    }


    .entrar {
        display: none;
    }

    .entrar_desktop {
        display: block;
        width: 33%;
        text-align: center;
        height: 50px;
        left: 33%;
        margin: 0 auto;
        vertical-align: middle;
        margin-top: 25%;
        border-left: 2px inset #685b11;
        border-bottom: 2px inset #685b11;
        border-right: 2px outset #685b11;
        background: #998e2d;
        color: #f2f2f2;
        background: linear-gradient(to right, #1e8237, #50e26d);
        padding: 5px 10px 15px 10px;
        font-family: 'Bangers', cursive;
        letter-spacing: 10px;
        font-size: 2em;
        border-radius: 2px;
        position: absolute;
        box-sizing: border-box;
        transition: all 500ms ease;
        transform-style: preserve-3d;
        border-top: 1px inset;
    }

    .entrar_desktop:after {
        top: -100%;
        left: 0px;
        width: 100%;
        height: 50px;
        position: absolute;
        background: #b9ae2e;
        border-left: 2px outset #685b11;
        border-top: 2px outset #685b11;
        border-right: 2px inset #685b11;
        background: linear-gradient(to right, #50e26d, #1e8237);
        border-radius: 2px;
        padding: 5px 10px 15px 10px;
        content: 'Entrar';
        transform-origin: left bottom;
        transform: rotateX(90deg);
    }

    .entrar_desktop:hover {
        transform-origin: center bottom;
        transform: rotateX(-88deg) translateY(100%);
    }


    .image{
        position: absolute;
        width: 50% ;
        height: 50% ;
    }

    .imagen_principal {
        background-image: url("../images/imagen_principal_pc.png");
    }

    #dialog-confirm{
        display: none;
        font-size: 1em;
        padding: 5px;
    }

    .pajaro, .pajaro2{
        display: none;
    }

    #principal p {
        font-size: 18px;
    }


    h1#titulo_pagina_principal {
        padding: 0;
        width: 65%;
        margin: auto;
        font-size: 4.2em;
    }
    .ui-dialog {
        width: 70% !important;
        left: 15% !important;
    }

}